langchain
langchain-core
langchain-classic
langchain-community
langchain-chroma
langchain-text-splitters
langchain-openai
langchain-google-genai
pypdf

streamlit

psycopg[binary]
SQLAlchemy
python-dotenv
pandas

pytest
black
ruff
ipython

langchain-postgres
pgvector
chromadb